<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @reservation.f_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @reservation.l_name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @reservation.phone_num %>
</p>

<p>
  <strong>Year:</strong>
  <%= @reservation.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @reservation.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @reservation.model %>
</p>

<p>
  <strong>Rapair Requested:</strong>
  <%= @reservation.repair %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', root_path %>
