<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @reservation.f_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @reservation.l_name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @reservation.phone_num %>
</p>

<p>
  <strong>Year:</strong>
  <%= @reservation.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @reservation.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @reservation.model %>
</p>

<p>
  <strong>Rapair Requested:</strong>
  <%= @reservation.repair %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>
 

<!-- yeah, this is a cheap way to go about the experience field... why do we need the
user's IP address for a cap repair anyways? -->
<label for="experience">Please rate your experience from 1 to 5.</label>
<select name="experience">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
<input type="submit" value="Submit">
<br></br>


<%= link_to 'Back', root_path %>
